*{
    margin:0 auto;padding: 0;
}
.one{
    text-align: center;
    height: 310px;
    width: 490px;
    border: 1px solid blue;
    background: darkcyan;
}
.two{
    border: 1px solid blue;
    height: 250px;
    width: 450px;
    margin: 30px 20px 30px 20px;
    background: rgb(60, 60, 131);
}
.thr{
    border: 1px solid blue;
    height: 230px;
    width: 430px;
    margin: 10px;
    background: cadetblue;
}
.fo{
    border: 1px solid blue;
    height: 200px;
    width: 400px;
    margin: 15px;
    background: floralwhite;
}
